.account-stage-one{
    width: 60%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .account-stage-one-content{
    width: 70%;
    min-height: 70vh;
    margin-left: 30px;
    padding-left: 30px;
   }
   .account-setup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   }
   .level{
    width: 100%;
    height: 10px;
    background-color: #E9E9E9;
    border-radius: 20px;
    margin: 20px  0px;
   }
   .measure{
    width: 25%;
    height: 10px;
    background-color: #23ACE8;
    border-radius: 20px;
   }
   .account-tell-us form{
    width: 100%;
   }
   .account-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .account-first-name input{
    width: 280px;
    padding: 10px 0px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #F8F8F8;
   }
   .account-last-name input{
    width: 280px;
    padding: 10px 0px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #F8F8F8
   }
   .account-nick-name input{
    width: 100%;
    padding: 10px 0px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #F8F8F8
   }
   .account-next{
    display: flex;
    align-items: center;
    margin-top: 30px;
   }
   .skip a{
    color: #23ACE8;
    margin-right: 20px;
   }
   .account-next button{
    background-color: #23ACE8;
    color: #fff;
    padding: 10px 45px;
    border: none;
   }
.next {
    color: #fff;
}  
.talent-input{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8;
}
.talent-input input{
    width: 280px;
    padding: 10px 0px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #F8F8F8
}