
  .home{
   width: 100%;
   min-height: 100vh;
  }

.bg-home {
    position: absolute;
    background-image: url("../asset/austin-neill-sxxnM-tRlVg-unsplash\ 1\ \(1\).png");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    
 }
  
 .bg-home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    color: #fff;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .home-container{
   width: 100%;
   margin-left: 150px
 }
 .home-content{
   width: 100%;
 }
 .home-content h1{
   font-size: 55px;
   word-spacing: 2px;
   line-height: 60px;
   margin-bottom: 25px;
 }
 .home-content p{
   width: 25%;
   font-size: 20px;
   line-height: 30px;
   word-spacing: 2px;
   margin-bottom: 25px;
   opacity: 0.8;
 }
 .home-link{
   width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
 }
 .btn-join li{
   list-style: none;
  
   
}
.btn-join a{
   text-decoration: none;
   color: #fff;
   font-size: 18px;
 
   color: #fff;
   border: 1px solid #fff;
   padding: 10px 25px;
   opacity: 0.7;
}
 .home-link a{
   margin-right: 35px;
   width: 130px;
   cursor: pointer;
   border: none;
   z-index: 200;
   font-size: 18px;
   text-decoration: none;
   background-color: #fff;
   color: #000;
   padding: 10px 25px;
  
 }
 .bullet{
   width: 100%;
   display: flex;
  justify-content: center;
  align-items: center;

 }
 
 .bullet span{
   width: 100%;
   margin-left: 10px;
   font-size: 16px; 
 }
 .works{
   min-height: 100vh;
   width: 100%; 
   background-color: #F3F3F5;
   margin: -120px 0px 0px 0px;
   padding: 80px 0px 0px 0px;
 }
 
 .works-content h1{
   text-align: center;
   margin-bottom: 35px;
 }
 .works-content p{
   text-align: center;
   width: 55%;
   font-size: 20px;
   line-height: 24px;
 }
 .works-para{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .home-requirement{
   width: 100%;
   min-height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   padding-top: 30px;
   
 }
 .home-requirement-content{
   width: 100%;
   display: flex;
  justify-content: space-around;
  align-items: center;  
 }
 
 .home-req-left{
   width: 25%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 150px;
   
 }
 .home-req-left-content{
   width: 100%;
 }
 .home-req-center{
   width: 0.5px;
   height: 450px;
   background-color: #000;
   display: flex;
   justify-content: center;
   align-items: center;

 }
 .design{
   width: 4px;
   height: 100px;
   background-color: #000;
 }
 .design span{
   visibility: hidden;
 }
 .home-icon{
   width: 80%;
   display: flex;
   align-items: center;
   margin-bottom: 30px;
 }
 .home-icon span{
   width: 100%;
   margin-left: 50px;
 }
 
 .home-req-right{
   width: 65%;
   height: 450px;
   margin-right: 80px;
   display: flex;
   align-items: center;
  
 }
 .home-req-right-content{
   margin-left: 100px;
   padding-left: 10px;
 }
 .home-req-right-content img, h2{
   margin-bottom: 20px;
 }
 .home-req-right-content p{
   width: 80%;
 }
 .patner{
   width: 100%;
   min-height: 40vh;
   margin-top: 30px;
   padding: 30px 0px;
   background-color: #fff;
 }
 
 .partner-content h2{
   text-align: center;
   font-size: 48px;
 }
 .partner-content p{
  text-align: center;
  font-size: 28px;
 }
 .event{
  width: 100%;
  min-height: 100vh;
  background-color: #042A3C;
  background-image: url("../asset/our-event-three.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .event-content h2{
  text-align: center;
 }
 .event-left{
  margin-left: 150px;
 }
 .event-right{
  margin-right: 150px;
 }
 .event-box{
  display: flex;
  justify-content: space-between;
 }
 .event-card{
  display: flex;
  flex-direction: column;
 }
 .event-card img{
  width: 600px;
  height: 380;
  margin-bottom: 20px;
 }
 .people-say{
  width: 100%;
 min-height: 80vh;
  background-color: #E4EBF3;
 }
 .people-say h1{
  text-align: center;
  padding: 50px 0px;
 }

 .people-box{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .people-box-content{
  width: 70%;
   min-height: 70vh;
  display: flex;
  justify-content: space-between;

 }
 .box-a{
  width:100%;
  max-width: 299px;
  height: 313px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
 }
 .box-a p{
  width: 90%;
 }
 .box-a img{
  width: 60px;
  margin-right: 10px;
 }
 .inner-box{
  width: 90%;
  height: 80px;
  padding: 10px 10px 10px 10px;
  background-color: #F3F3F5;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .inner-box-des{
  width: 100%;
 }
 .blog{
  width: 100%;
  min-height: 90vh;
  background-color: #fff;
 }
 .blog-header{
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .blog-header img{
  width: 150px
 }
 .blog h2{
  text-align: center;
 }
 .blog p{
  text-align: center;
  width: 35%;
  margin-bottom: 15px;
 }
.blog-env{
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.blog-content{
  width: 80%;
  min-height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blog-card{
  width: 100%;
  max-width: 372px;
  height: 428px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background-color: #F3F3F5 ;
}
.blog-card img{
  width: 100%;
  max-width: 372px;
  height: 250px;
}
.card-desc{
 width: 100%;
  
}
.arrow{
  display: flex;
  justify-content: flex-end;
}
.arrow img{
   width: 33.75px;
   height: 33.75px;
   margin-right: 20px;
   margin-top: 10px;
}
.blog-date{
  margin-left: 20px;
}
.blog-date h3{
  margin: 10px 0px;
}
.blog-date span{
  color: #017297
}
.ongoing-event-section{
  width: 100%;
  min-height: 100vh;
}
.onging-event-section-content{
  position: relative;
  background-image: url("../asset/our-event-three.png");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.onging-event-section-contentoverlay{
  position: relative;
  width: 100%;
  min-height: 100vh;
 background-color: rgba(0,0,0, 0.5);
 background-image: linear-gradient(to bottom, rgba(17, 47, 200, 0.2),rgba(137, 9, 63, 0.2));
  z-index: 0;
  
}
.ongoing-event-others{
  width: 100%;
  min-height: 100vh;
}
.about-event-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ongoing-event-others span{
  text-align: center;
  color: #fff;
  font-size: 32px;
  display: block;
  margin: 60px 0px;
  padding: 60px 0px;
}
.ongoing-event-others-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ongoing-event-left{
  margin-left: 150px;
}
.ongoing-event-left h3{
  color: #fff;
  font-size: 48px;
}
.other-event div{
  color: #fff;
  font-size: 32px;
  margin: 20px 0px;
  padding: 20px 0px;
  letter-spacing: 0.5px;
}
.ongoing-event-right{
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}
.ongoing-img{
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 300px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.ongoing-img img{
  width: 100%;
  max-width: 600px;
  height: 300px;
}

.ongoing-content-img{
  width: 100%;
  max-width: 600px;
  height: 300px;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 10px;
  
}
.ongoing-content-img-inner{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ongoing-content-img p{
  color: #fff;
}
.ongoing-content-img button{
  border-radius: 20px;
  width: 100px;
  height: 40px;
}


@media screen and (max-width: 780px){
  br{
    display: none;
  }
  .home-container{
   
    margin: 0px;
  }
  .home-content{
    margin-top: 100px;
    margin-left: 20px;
  }
  .home-content h1{
    width: 90%;
    font-size: 35px;
    word-spacing: 2px;
    line-height: 45px;
    margin-bottom: 25px;
  }
  .home-content p{
    width: 90%;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 2px;
    margin-bottom: 25px;
    opacity: 0.8;
  }
  .home-requirement-content{
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   align-items: center;  
  }
  .home-req-left{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  .home-icon{
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .home-icon span{
    width: 100%;
    margin-left: 20px;
  }
  
  .works-content p{
    text-align: center;
    width: 90%;
    font-size: 20px;
    line-height: 24px;
  }
  .home-req-right-content{
    width: 90%; 
  margin: 0px;
  }
  .home-req-right-content img, h2, p{
    margin-left: 20px;
    padding-left: 20px;
  }
  .people-box-content{
    width: 90%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
   }
   .home-req-right{
    width: 100%;
    height: 450px;
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  .home-req-right-content p{
    width: 100%;
  }
  
   .box-a{
    max-width: 100%;
    width: 400px;
    margin-top:20px;
   }
   .blog-env{
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .blog-content{
    width: 80%;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .bullet{
    margin-right: 20px;
  }
  
}
@media screen and (max-width: 480px){
  .home-content h1{
    font-size: 35px;
    word-spacing: 2px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  .home-link a{
    text-align: center;
    margin-right: 35px;
    width: 250px;
    cursor: pointer;
    border: none;
    z-index: 200;
    font-size: 18px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 10px 25px;
   
  }
}