

@media screen and (max-width: 780px){
    .best-artist{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .artist-card{
        margin-bottom: 25px;
    }
    
    
}